:root {
    --grad: radial-gradient(circle farthest-side, var(--sec), var(--prim));
    --mainFont: "Anton SC", sans-serif;
    --prim: #005a9c;
    --sec: #74a57f;
    --tert: #eaeae3;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

.banner-image {
    height: 15vh;
}

.dropdown-item {
    color: var(--prim);
}

.footer-heading {
    font-size: 18px;
    font-weight: 700;
}

.colophon, .footer-heading, .footer-sec1-link, .list-link, .navbar-link, .site-link {
    color: var(--tert);
}

.icon {
    color: white;
}

.item-image {
    height: 400px;
}

.lead-items {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
}

.shopping-section1-item {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
}

#footerSection1 {
    padding: 16px 0;
    background-color: var(--prim);
    background-image: var(--grad);
}

#footerSection2 {
    padding: 16px 0;
    background-color: var(--prim);
}

#footerSection3 {
    padding: 16px 0;
    background-color: #00528e;;
}

#leadSection {
    padding: 20px 0;
}

#logo {
    font-family: var(--mainFont);
    font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1600 - 300)));
}

#section1 {
    padding: 8px 0;
    background-color: var(--prim);
}

#section2 {
    background-color: var(--sec);
    background-image: var(--grad);
}




